<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard 1 - Uchambuzi</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Event listener for "More Info" buttons
            document.querySelectorAll('.toggle-modal-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-target');
                    document.getElementById(modalId).style.display = 'flex';
                });
            });

            // Event listener for "Close" buttons in modals
            document.querySelectorAll('.close-modal-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-hide');
                    document.getElementById(modalId).style.display = 'none';
                });
            });
        });

        // Fetch Filtered Data
        function fetchData(chartType, period) {
            $.ajax({
                url: '/fetch_filtered_data',
                method: 'GET',
                data: {
                    chart_type: chartType,
                    period: period
                },
                success: function(response) {
                    if (chartType === 'gdp') {
                        $('#gdp-chart').html(response.graph_html);
                    } else if (chartType === 'population') {
                        $('#population-chart').html(response.graph_html);
                    } else if (chartType === 'per_capita') {
                        $('#per-capita-chart').html(response.graph_html);
                    }
                },
                error: function(error) {
                    console.error("Error fetching data:", error);
                }
            });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('landing_page') }}">Uchambuzi</a></div>
            <button class="menu-toggle" aria-label="Toggle menu">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li><a href="{{ url_for('macroeconomic_analysis') }}">MacroEconomic Analysis</a></li>
                <li><a href="{{ url_for('dashboard1') }}" class="active">GDP & Population</a></li>
                <li><a href="{{ url_for('dashboard2') }}">Exchange Rates</a></li>
                <li><a href="{{ url_for('dashboard3') }}">Inflation Analysis</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="dashboard-section">
            <h2 class="section-title">GDP and Population Trends</h2>

            <!-- GDP Chart Container -->
            <div class="chart-container">
                <h3>Nominal GDP Trend (USD)</h3>
                <div class="filter-buttons">
                    <button class="btn-filter" onclick="fetchData('gdp', '5Y')">5Y</button>
                    <button class="btn-filter" onclick="fetchData('gdp', '10Y')">10Y</button>
                    <button class="btn-filter" onclick="fetchData('gdp', 'Full')">Full</button>
                    <button class="btn-filter toggle-modal-btn" data-modal-target="modal-gdp">Info</button>
                </div>
                
                <div id="gdp-chart">{{ gdp_graph_html | safe }}</div>
                <br>
                <div style="text-align: center;"><p>Source: World Bank.</p></div>
            </div>

            <!-- Population Chart Container -->
            <div class="chart-container">
                <h3>Population Trend</h3>
                <div class="filter-buttons">
                    <button class="btn-filter" onclick="fetchData('population', '5Y')">5Y</button>
                    <button class="btn-filter" onclick="fetchData('population', '10Y')">10Y</button>
                    <button class="btn-filter" onclick="fetchData('population', 'Full')">Full</button>
                    <button class="btn-filter toggle-modal-btn" data-modal-target="modal-population">Info</button>
                </div>
                <div id="population-chart">{{ population_graph_html | safe }}</div>
                <br>
                <div style="text-align: center;"><p>Source: World Bank.</p></div>
            </div>

            <!-- GDP Per Capita Chart Container -->
            <div class="chart-container">
                <h3>GDP per Capita Trend</h3>
                <div class="filter-buttons">
                    <button class="btn-filter" onclick="fetchData('per_capita', '5Y')">5Y</button>
                    <button class="btn-filter" onclick="fetchData('per_capita', '10Y')">10Y</button>
                    <button class="btn-filter" onclick="fetchData('per_capita', 'Full')">Full</button>
                    <button class="btn-filter toggle-modal-btn" data-modal-target="modal-per-capita">Info</button>
                </div>
                <div id="per-capita-chart">{{ per_capita_graph_html | safe }}</div>
                <br>
                <div style="text-align: center;"><p>Source: World Bank.</p></div>
            </div>
        </section>

        <!-- Modals -->
         <!-- GDP modal -->
        <div id="modal-gdp" class="modal">
            <div class="modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nominal GDP Explanation</h3>
                        <button class="close-modal-btn" data-modal-hide="modal-gdp">
                            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7L1 13m6-6l6-6" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>GDP at purchaser's prices is the sum of gross value added by all resident producers in the economy plus any product taxes and minus any subsidies not included in the value of the products. It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources. </p>
                        <br>
                        <p>Data are in current U.S. dollars. Dollar figures for GDP are converted from domestic currencies using single year official exchange rates. For a few countries where the official exchange rate does not reflect the rate effectively applied to actual foreign exchange transactions, an alternative conversion factor is used.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Population chart modal -->
        <div id="modal-population" class="modal">
            <div class="modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Population Trend Explanation</h3>
                        <button class="close-modal-btn" data-modal-hide="modal-population">
                            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7L1 13m6-6l6-6" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Total population is based on the de facto definition of population, which counts all residents regardless of legal status or citizenship. </p>
                        <br>
                        <p>The values shown are midyear estimates.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- GDP Per Capita modal -->
        <div id="modal-per-capita" class="modal">
            <div class="modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">GDP per Capita Trend Explanation</h3>
                        <button class="close-modal-btn" data-modal-hide="modal-per-capita">
                            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7L1 13m6-6l6-6" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>GDP per capita is gross domestic product divided by midyear population. GDP is the sum of gross value added by all resident producers in the economy plus any product taxes and minus any subsidies not included in the value of the products.</p>
                        <br>
                        <p>It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources. Data are in current U.S. dollars.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <section class="footer-section">
            <p>&copy; 2024 <a href="#">Website</a>. All rights reserved.</p>
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </section>  
    </footer>

    <script>
        // script.js
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const navLinks = document.querySelector('.nav-links');

            menuToggle.addEventListener('click', function() {
                navLinks.classList.toggle('show');
            });
        });
    </script>
</body>
</html>