<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inflation Trend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        /* Blur effect for non-premium users */
        .blurred {
            filter: blur(5px);
            pointer-events: none; /* Prevent interaction with blurred content */
        }
        .locked-content {
            display: none; /* Hidden by default, shown only when user is not premium */
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Check if user is premium
            let isPremium = JSON.parse('{{ is_premium | tojson | safe }}');
            console.log("isPremium: " + isPremium);

            if (isPremium) {
                document.querySelector('.dashboard-section').classList.remove('blurred');
                document.querySelector('.locked-content').style.display = 'none';
            } else {
                document.querySelector('.dashboard-section').classList.add('blurred');
                document.querySelector('.locked-content').style.display = 'block';
            }
        });

        // Fetch Filtered Data
        function fetchData(chartType, period) {
            $.ajax({
                url: '/fetch_filtered_inflation',
                method: 'GET',
                data: {
                    chart_type: chartType,
                    period: period
                },
                success: function(response) {
                    $('#gdp-chart').html(response.graph_html);
                },
                error: function(error) {
                    console.error("Error fetching data:", error);
                }
            });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('landing_page') }}">Uchambuzi</a></div>
            <button class="menu-toggle" aria-label="Toggle menu">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li><a href="{{ url_for('macroeconomic_analysis') }}" class="active">MacroEconomic Analysis</a></li>
                <li><a href="{{ url_for('dashboard1') }}">GDP & Population</a></li>
                <li><a href="{{ url_for('dashboard2') }}">Exchange Rates</a></li>
                <li><a href="{{ url_for('dashboard3') }}">Inflation Analysis</a></li>
                <li><a href="{{ url_for('logout') }}" class="logout-icon"><i class="fa fa-sign-out"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="locked-content" style="text-align: center; color: #132e57; font-weight: bold;">
            <p>This content is only accessible to full members.</p>
            <a href="{{ url_for('paywall') }}" class="btn-primary">Click here to become a full member</a>
        </div>

        <section class="dashboard-section">
            <h2 class="section-title">Inflation Trend Factor</h2>

            <div class="chart-container">
                <h3>Inflation Trend This Year</h3>
                <div class="filter-buttons">
                    <button class="btn-filter" onclick="fetchData('inflation', '1M')">1M</button>
                    <button class="btn-filter" onclick="fetchData('inflation', '3M')">3M</button>
                    <button class="btn-filter" onclick="fetchData('inflation', 'YTD')">YTD</button>
                    <button class="btn-filter toggle-modal-btn" data-modal-target="modal-gdp">Info</button>
                </div>
                
                <div id="gdp-chart">{{ inflation_trend_graph_html | safe }}</div>
                <br>
                <div style="text-align: center;"><p>Source: World Bank.</p></div>
            </div>
        </section>

         <!-- USD/KES modal -->
        <div id="modal-gdp" class="modal">
            <div class="modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Inflation Trend Explanation</h3>
                        <button class="close-modal-btn" data-modal-hide="modal-gdp">
                            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7L1 13m6-6l6-6" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Normally considered as inflation rate, is defined as the percentage change in the monthly consumer price index (CPI). </p>
                        <br>
                        <p>For example, the 12-month inflation rate for November 2017 is the percentage change in the CPI of November 2017 and November 2016.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="bd-footer py-2 mt-2" style="background-color: #e3e7f2">
        <section class="footer-section">
            <p>&copy; 2024 All rights reserved.</p>
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </section>  
    </footer>

    <script>
        // script.js
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const navLinks = document.querySelector('.nav-links');

            menuToggle.addEventListener('click', function() {
                navLinks.classList.toggle('show');
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Event listener for "More Info" buttons
            document.querySelectorAll('.toggle-modal-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-target');
                    document.getElementById(modalId).style.display = 'flex';
                });
            });

            // Event listener for "Close" buttons in modals
            document.querySelectorAll('.close-modal-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-hide');
                    document.getElementById(modalId).style.display = 'none';
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>