<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard 1 - Uchambuzi</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Event listener for "More Info" buttons
            document.querySelectorAll('.toggle-modal-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-target');
                    document.getElementById(modalId).style.display = 'flex';
                });
            });

            // Event listener for "Close" buttons in modals
            document.querySelectorAll('.close-modal-btn').forEach(button => {
                button.addEventListener('click', function() {
                    const modalId = this.getAttribute('data-modal-hide');
                    document.getElementById(modalId).style.display = 'none';
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="{{ url_for('landing_page') }}">Uchambuzi</a></div>
            <button class="menu-toggle" aria-label="Toggle menu">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="nav-links">
                <li><a href="{{ url_for('landing_page') }}">Home</a></li>
                <li><a href="{{ url_for('macroeconomic_analysis') }}" class="active">MacroEconomic Analysis</a></li>
                <li><a href="{{ url_for('dashboard1') }}">GDP & Population</a></li>
                <li><a href="{{ url_for('dashboard2') }}">Exchange Rates</a></li>
                <li><a href="{{ url_for('dashboard3') }}">Inflation Analysis</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="dashboard-section">
            <h2 class="section-title">Inflation Macroeconomic Factor</h2>

            <div class="chart-container">
                <h3>Current vs Prior Month Inflation</h3>
                <div class="filter-buttons">
                    <button class="toggle-modal-btn btn-filter" data-modal-target="modal-gdp">Info</button>
                </div>
                <div>{{ month_over_month_graph_html | safe }}</div>
                <br>
                <div style="text-align: center;"><p>Source: World Bank.</p></div>
            </div>
        </section>

         <!-- Inflation modal -->
        <div id="modal-gdp" class="modal">
            <div class="modal-container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Inflation Explanation</h3>
                        <button class="close-modal-btn" data-modal-hide="modal-gdp">
                            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7L1 13m6-6l6-6" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Normally considered as inflation rate, is defined as the percentage change in the monthly consumer price index (CPI).</p>
                        <br>
                        <p>For example, the 12-month inflation rate for November 2017 is the percentage change in the CPI of November 2017 and November 2016.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <section class="footer-section">
            <p>&copy; 2024 <a href="#">Website</a>. All rights reserved.</p>
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </section>  
    </footer>

    <script>
        // script.js
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const navLinks = document.querySelector('.nav-links');

            menuToggle.addEventListener('click', function() {
                navLinks.classList.toggle('show');
            });
        });
    </script>
</body>
</html>